name: CI

on:
  pull_request:
    branches: ['**']

permissions:
  contents: read
  pull-requests: write
  issues: read

jobs:
  ci:
    uses: constellos/.github/.github/workflows/ci-pipeline-reusable.yml@main
    secrets: inherit
