name: CI

on:
  pull_request:
    branches: ['**']

jobs:
  ci:
    uses: constellos/.github/.github/workflows/ci-pipeline-reusable.yml@main
    with:
      actions_version: 'v1.0.0'
      node_version: '22'
    secrets: inherit
