name: CI

on:
  pull_request:
    branches: ['**']

jobs:
  ci:
    uses: constellos/.github/.github/workflows/ci-pipeline-reusable.yml@main
    secrets:
      CLAUDE_CODE_OAUTH_TOKEN: ${{ secrets.CLAUDE_CODE_OAUTH_TOKEN }}
